<div class="json-header col-md-12">
    <div class="col-md-4">Address</div>
    <div class="col-md-2 col-md-offset-5"><a class="glyphicon glyphicon-plus" id="add-address-item"></a></div>
</div>
<div class="json-body col-md-12" id="json-body-1">
  <div class="row col-md-12">
    <div class="col-md-3"><%= f.select :type, [['Primary','primary'],['Home','home'],['Work','work'],['Alternate','alternate']] %></div>
    <div class="col-md-9"><%= f.text_field :street, placeholder: "Street Address" %></div>
    <div class="col-md-3 col-md-offset-3"><%= f.select :state, options_for_select(us_states) %></div>
    <div class="col-md-3"><%= f.text_field :city, placeholder: "City" %></div>
    <div class="col-md-3"><%= f.text_field :zip, placeholder: "Zip Code" %></div>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
