<div>

  <div class="input-field">
    <%= f.label :id , :class =>"col-md-4"%>
    <%= f.text_field :id %>
  </div>

  <div class="input-field">
    <%= f.label :issue_date , :class =>"col-md-4"%>
    <%= f.text_field :issue_date %>
  </div>


  <div class="input-field">
    <%= f.label :expiration_date,:class =>"col-md-4" %>
    <%= f.text_field :expiration_date %>
  </div>

  <div class="input-field">
    <%= f.label :state , :class =>"col-md-4"%>
    <%= f.text_field :state %>
  </div>

  <div class="input-field">
    <%= f.label :url , :class =>"col-md-4"%>
    <%= f.text_field :url %>
  </div>

  <%= f.hidden_field :_destroy %>

</div>