<div>
  <div class="input-field">
    <%= f.label :password , :class =>"col-md-4"%>
    <%= f.text_field :password %>
  </div>

  <div class="input-field">
    <%= f.label :login , :class =>"col-md-4"%>
    <%= f.text_field :login %>
  </div>

  <%= f.hidden_field :_destroy %>

</div>