<%= simple_form_for @note ,remote: true do |f| %>
    <div class="row info-tab">
      <span class="title">Basic</span>
    </div>
  <div class="form-inputs">
    <div class="field">
      <%= f.input :note %>
    </div>

    <%= f.input :author %>
    <%= f.input :category,:collection=>[['RM','RM'],['RMT','RMT'],['RMT','RMT'],['Verifications','Verifications'],['Recruiting','Recruiting'],['Data Input','Data Input']] %>
    <%= f.input :timestamp %>
    <%= f.input :hide_sticky %>
  </div>

  <div class="form-actions row info-group">
    <%= f.button :submit, class:'btn btn-primary' %>
  </div>
<% end %>


