<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @job.action %>
</p>

<p>
  <strong>Report:</strong>
  <%= @job.report %>
</p>

<p>
  <strong>Display:</strong>
  <%= @job.display %>
</p>

<p>
  <strong>Document:</strong>
  <%= @job.document %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
