<div>
  <div class="input-field">
    <%= f.label :street,:class =>"col-md-5" %>
    <%= f.text_field :street %>
  </div>

  <div class="input-field">
    <%= f.label :city , :class =>"col-md-5"%>
    <%= f.text_field :city %>
  </div>

  <div class="input-field">
    <%= f.label :state , :class =>"col-md-5"%>
    <%= f.text_field :state%>
  </div>

  <div class="input-field">
    <%= f.label :zip , :class =>"col-md-5"%>
    <%= f.text_field :zip%>
  </div>

  <%= f.hidden_field :_destroy %>
</div>