<div>
  <div class="input-field">
    <%= f.label :name , :class =>"col-md-5"%>
    <%= f.text_field :name %>
  </div>

  <div class="input-field">
    <%= f.label :phone_number,:class =>"col-md-5" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="input-field">
    <%= f.label :email , :class =>"col-md-5"%>
    <%= f.text_field :email %>
  </div>

  <div class="input-field">
    <%= f.label :description , :class =>"col-md-5"%>
    <%= f.text_area :description ,:style=>"width:530px;height:93px;"%>
  </div>

  <%= f.hidden_field :_destroy %>
</div>