<div>
  <div class="input-field">
    <%= f.label :housing_skill, :class =>"col-md-5" %>
    <%=f.text_field :housing_skill %>
  </div>

  <div class="input-field">
    <%= f.label :housing_time, :class =>"col-md-5" %>
    <%=f.text_field :housing_time %>
  </div>
  <%= f.hidden_field :_destroy %>
</div>