<div>
  <div class="input-field">
    <%= f.label :type , :class =>"col-md-5"%>
    <%= f.text_field :type %>
  </div>

  <div class="input-field">
    <%= f.label :content,:class =>"col-md-5" %>
    <%= f.text_field :content %>
  </div>

  <%= f.hidden_field :_destroy %>
</div>